html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/login-background.jpg');
  background-size: cover;
  background-repeat: repeat;
}

#root {
  /* border: 3px solid green; */
  height: 100%;
}

.App {
  /* border: 3px solid blue; */
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainContent {
  padding-top: 200px
} 



.background-container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/login-background.jpg');
  background-size: cover;
  background-repeat: repeat; */
  /* height: 100%; */
  /* I DONT KNOW IF THIS SERVES A PURPOSE ANYMORE */
}

.searchContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
}


.logo {
  height: 80px;
  width: 80px;
  text-align: left;
}

/*****LOGIN*****/

@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.heading_h1{
	color: #00a4e4;
	font-family: 'Raleway', sans-serif;
	/* margin-top: 100px; */
	/* margin-bottom: 20px; */
}

.heading_h1 .sub_h1{
	color: white;
	font-weight: bolder;
}

.loginContainer{
	/* background-color: #13293d; */
	height: 400px;
	border-radius: 10px;
  /* padding-top: 100px; */
  margin: auto;
	font-family: 'Quicksand', sans-serif;
}

input[type="text"]{
    border-radius:30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
}

input[type="text"]:focus{
	border: 2px solid #ffa400;
}

input[type="password"]{
    border-radius:30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
}

input[type="password"]:focus{
	border: 2px solid #ffa400;
}

.login_btn{
	background-color: #ffa400;
	border: 1px solid #ffa400;
	border-radius: 10px;
	color: #fff;
	padding: 5px 50px;
	font-size: 18px;
	margin-bottom: 5px;
	transition: .9s all;
}

.login_btn:hover{
	background-color: #00a4e4;
	border:1px solid #00a4e4;
	border-radius: 50px;
}

/* .login-form{
  margin-left: 200px;
} */

.forgotLink a{
	text-decoration: none;
	color: #d2d2d2;
}

.signupLink{
	color: #d2d2d2;
}

.signupLink a{
	text-decoration: none;
	color: #00a4e4;
}

.card {
  width: 400px;
  margin: 100px;
  /* background-color: transparent; */
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-column-gap: 50px; */
}

.artistProfileContainer {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-row-start: 2; */
  /* grid-template-rows: 1fr 9fr; */
}

.artistEventsContainer {
  display: grid;
  grid-template-rows: 1% 99%;
}

.pls {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hello {
  color: white;
  /* margin-right: 500px; */
}


.artistProfilePic {
  height: 200px;
  width: auto;
  border-radius: 50%;
}

.sidenav {
  /* display: none; */
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 400px; /* Set the width of the sidebar */
  /* position: fixed; */
  /* z-index: 1; Stay on top */
  /* top: 0; Stay at the top */
  /* left: 0; */
  background-color: rgba(2, 9, 19);
  /* overflow-x: hidden; Disable horizontal scroll */
  padding-top: 20px;
}

.social-icon {
  height: 40px;
  width: 40px;
  margin: 20px;
}

.social-icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

.eventCard {
  width: 540px;
  height: 250px;
}

.eventcard-img {
  max-height: 100%;
  max-width: 100%;
}


/*****************/


.font {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  color: white;
}

.navbar {
  position: relative;
  margin-bottom: 0;
  right:0;
  left:0;
  z-index: 2;
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

/* .navbutton {
  position: relative;
  float: right;
  } */